.container {
  padding: 24px;
  font-family: sans-serif;
  margin: auto;
  text-align: center;
}
body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(129,50,162,1) 70%, rgba(54,25,25,1) 100%);
}
.todo-list {
  list-style-type: none;
  padding-left: 0;
}

.todo-list__item {
  margin-bottom: 12px;
}

.todo-list__item__not-completed {
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.todo-list__item__completed {
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.todo-list__item__completed:after {
  display: inline-block;
  content: "\2713";
}

.todo-list__item__delete-button {
  display: inline-block;
  margin-left: 24px;
  cursor: pointer;
}
